.App {
  text-align: center;
  background: url('./assets/images/bg.png') #fafafa;
  max-width: 1124px;
  margin: auto;
  margin-top: 1rem;
}


:root {
  --main-color : #ffc500;
  --grey: #333333;
  --lightgrey: #7F7F7F;
  --verylightgrey: #fafafa;
}

.container_shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}

@import 'assets/styles/_mixins.scss';
@import 'assets/styles/_profile.scss';
@import 'assets/styles/_timeline.scss';
@import 'assets/styles/_header.scss';
@import 'assets/styles/_footer.scss';
@import 'assets/styles/_main.scss';
@import 'assets/styles/_resume.scss';
@import 'assets/styles/_portfolio.scss';
@import 'assets/styles/_contact.scss';

// @keyframes spin {
//   from {
//     transform: rotate(0deg);
//   }

//   to {
//     transform: rotate(360deg);
//   }
// }
// .settings {
//   position: fixed;
//   left: -200px;
//   top: 50%;
//   transform: translateY(-50%);
//   width: 200px;
//   background-color: white;
//   z-index: 10;
//   transition: 0.3s;
//   color: #949494;
//   padding: 0.5rem 1rem;
//   box-sizing: border-box;
//   border-radius: 5px;
//   &.open {
//     left: 0;
//   }
//   &_gear{
//     position: absolute;
//     right: -45px;
//     background-color: white;
//     top: 0;
//     color: black;
//     padding: 7px 10px;
//     border-radius: 3px;

//     svg{
//       animation: spin 5000ms linear infinite ;
//     }
//   }

  

//   h4{
//     color: var(--grey);
//     text-transform: uppercase;
//     padding: 0.5rem;
//     border-bottom: 1px solid var(--lightgrey);
//   }

//   &_colors {
//     padding: 0.5rem;
//     width: 80%;
//     margin: auto;
//     border-bottom: 1px solid var(--lightgrey);

//     .color_box{
//       display: inline-block;
//       padding: 5px;
//       width: 10px;
//       height: 10px;
//       margin: 5px;
//       cursor: pointer;
//       opacity: 0.7;
//       border-radius: 50%;
//       &.active{
//         opacity: 1;
//       }
//     }
//   }

//   button{
//     margin-top:1rem;
//   }
// }