.main {
    background-color: white;
    margin: 1rem 0;
    border-radius: 5px;
    text-align: left;
}

.home{
    &_title {
        color: var(--grey);
        margin-bottom: 1rem;
    }
}


.about_me,.my_service {
    text-align: left;
    padding: 1rem;

    p{
        font-size: 0.75rem;
        color: var(--lightgrey);
        margin: 1rem 0;
    }
   
}

.my_service{
    background-color: var(--verylightgrey);
    &_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        border-radius: 5px;

        @include breakpoint-down(medium){
            grid-template-columns: repeat(2, 1fr);
        }
         @include breakpoint-down(small) {
             grid-template-columns: repeat(1, 1fr);
         }
    }

    &_box {
        background-color: white;
        padding: 1rem;
        text-align: center;
        color: var(--grey);
        
        &_icon svg{
            font-size: 2.5rem;
        }
        &_title {
            font-size: 1rem;
            font-weight: bold;
            margin: 1rem 0;
            height: 2rem;
        }
        &_text {
            font-size: 0.75rem;
            color: var(--lightgrey);
            margin: 1rem 0;
        }
    }
}

ul {
    list-style: none;
}